.icons {
	position: absolute;
	text-align: left;
	top: 0;
	left: 0;
	padding-top: 5px;
	padding-left: 5px;
	z-index: 9999;  // places the icons in front of jumbotron
}

.memo {
	position: absolute;
	text-align: right;
	top: 0;
	right: 0;
	margin-top: 5px;
	margin-right: 5px;
	color: white;
	font-size: 15px;
	font-family: 'Josefin Sans', serif;
}

.title {
	text-align: center;
	margin-top: 10vw;
	color: white;
	font-size: 10vw;
	font-family: 'Josefin Sans', bold;
}

a.caption:link, a.caption:visited, a.caption:active {
	margin-left: 16vw;
	width: 33.3333333%;
	color: white;
	font-size: 2vw;
	text-align: center;
	font-family: 'Josefin Sans', serif;
}

a.caption:hover {
	color: #BDBDBD;
	text-decoration: none;
}

.jumbotron {
    position: relative;
    background: #000 url(Images/ocean.jpg) center center;
    width: 100%;
    height: 45vw;
    background-size: cover;
    overflow: hidden;
}

h2 {

	color: #3BC6F8 !important;
	font-size: 6em !important;
	font-family: 'Josefin Sans', bold !important;
}

.hack {
	position: relative;
	margin-left: 20px !important;
	margin-bottom: 20px !important;
	color: #9AA5AA !important;
	font-family: 'Josefin Sans' !important;
	font-size: 20px !important;
}

p {
	color: #9AA5AA !important;
}

.myPic {
	float: right;
	position: relative;
	width: 55%;
}

.bio {
	float: left;
	position: relative;
	color: #0E3771;
	font-family: 'Josefin Sans', bold;
	font-size: 20px;
}

a.apk {
	color: #3BC6F8;
}

.leftVR {
	float: left;
	position: relative;
	padding-left: 20px;
	padding-bottom: 10px;
}

.rightVR {
	float: right;
	position: relative;
	padding-right: 20px;
	padding-bottom: 10px;
}

.topGame {
	float: middle;
	position: relative;
	padding-right: 10px;
	padding-left: 30px;
	padding-bottom: 20px; 
}

.bottomGame {
	float: middle;
	position: relative;
	padding-right: 10px;
	padding-left: 30px;
	padding-bottom: 20px;
}


h3 {
	color: #3BC6F8 !important;
	font-size: 4em !important;
	font-family: 'Josefin Sans', bold !important;
}

.school {
	color: #0E3771;
	font-family: 'Josefin Sans', bold;
	font-size: 20px;
}


.neuPic {
	float: left;
	width: 35%;
}

.fundies1 {
	color: #0E3771;
	font-family: 'Josefin Sans', bold;
	font-size: 20px;
}

.fundies2 {
	color: #0E3771;
	font-family: 'Josefin Sans', bold;
	font-size: 20px;
}

.logic {
	color: #0E3771;
	font-family: 'Josefin Sans', bold;
	font-size: 20px;
}

.ood {
	color: #0E3771;
	font-family: 'Josefin Sans', bold;
	font-size: 20px;
}

.algo {
	color: #0E3771;
	font-family: 'Josefin Sans', bold;
	font-size: 20px;
}

.systems {
	color: #0E3771;
	font-family: 'Josefin Sans', bold;
	font-size: 20px;
}

h4 {
	position: relative;
	padding-left: 20px;
	color: #0E3771 !important;
	font-family: 'Josefin Sans', bold !important;
	font-size: 3em !important;
}

