#top {
	text-align: center;
	padding-top: 100px;
	color: white;
	font-size: 120px;
	font-family: 'Josefin Sans', bold;
}
a:link, a:visited, a:active {
	padding-left: 220px;
	color: white;
	font-size: 20px;
	text-align: center;
	font-family: 'Josefin Sans', serif;
}

a.caption:hover {
	color: #BDBDBD;
	text-decoration: none;
}

.jumbotron {
    position: relative;
    background: #000 url("ocean.jpg") center center;
    width: 100%;
    height: 500px;
    background-size: cover;
    overflow: hidden;
}

h2 {
	color: #3BC6F8 !important;
	font-size: 100px !important;
	font-family: 'Josefin Sans', bold !important;
}

p {
	color: #3BC6F8;
}

.myPic {
	float:right;
	height: 400px;
	width: 600px;
}

.bio{
	float:left;
	color: #0E3771;
	font-family: 'Josefin Sans', bold;
	font-size: 20px;
}

.neu {
	float: left;
	height: 400px;
	width: 400px;
}

.school {
	float: right;
	color: #0E3771;
	font-family: 'Josefin Sans', bold;
	font-size: 20px;
}

h3 {
	color: #3BC6F8 !important;
	font-size: 50px !important;
	font-family: 'Josefin Sans', bold !important;
}

.class {
	float: right;
	color: #0E3771;
	font-family: 'Josefin Sans', bold;
	font-size: 20px;
}

h4 {
	color: #0E3771 !important;
	font-family: 'Josefin Sans', bold !important;
	font-size: 35px !important;
}

.roxbury {
	color: #9AA5AA;
	font-family: 'Josefin Sans';
	font-size: 20px;
}

.logo {
	float: left;
	height: 200px;
	width: 200px;
}